---
import { SidebarLayout } from "@/components/layouts/SidebarLayout";
import Layout from "./Layout.astro";
import "@/styles/global.css";

interface Props {
    title: string;
    breadcrumbs?: { label: string; href?: string }[];
}

const { title, breadcrumbs = [] } = Astro.props;
---

<Layout title={title}>
    <div slot="head">
        <slot name="head" />
    </div>

    <SidebarLayout client:load breadcrumbs={breadcrumbs}>
        <slot />
    </SidebarLayout>
</Layout>
